<%= link_to "Back to list of tasks", admin_tasks_path %>

<%= render 'task_error' %>

<%= form_for @task, url: @path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>