<div class="jumbotron report-options">
  <div class="container text-center">
    <h2>Create Statements</h2>
    <h3><%= @statement_period.from %> - <%= @statement_period.to %></h3>
  </div>
</div>

<div class="container">
  <%= form_for([:admin, :generate, @statement_period], method: 'post', class: 'form') do %>
    <div class="form-group">
      <%= label_tag :date, "Date Range" %>
      <%= select_tag :date, options_for_select(@dates), class: 'form-control', include_blank: 'Date Range', required: true %>
    </div>
      <p>This will create statements for all users with time entries in the following date range, If you would like to create statements for a specific user use <%= link_to 'this page', new_admin_statement_path %>.</p>
    <%= button_tag 'Create', class: 'btn btn-primary control-btn' %>
  <% end %>

</div>
