<tr>
  <td><%= statement.from.to_s(:humanly) %></td>
  <td><%= statement.to.to_s(:humanly) %></td>
  <td><%= statement.state.capitalize %></td>
  <td><%= statement.hours %></td>
  <td><%= number_to_currency statement.subtotal %></td>
  <td><%= number_to_currency statement.tax_amount %></td>
  <td><%= number_to_currency statement.total %></td>
  <td><%= link_to 'View', statement %></td>
</tr>
