<div class="jumbotron report-options">
  <div class="container">
    <div class="container">
      <%= form_tag(statements_path, method: :get, class: "form", role: "form") do %>
        <div class="row">
          <div class="col-md-6 option-field">
            <%= text_field_tag :containing, @containing, class: "form-control pick-a-date", placeholder: "Statments containing date" %>
          </div>

          <div class="col-md-6 option-field">
            <%= select_tag :state, options_for_select(statement_states_select, params[:state]), { class: "form-control chosen-select", include_blank: 'Filter by state' } %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <%= button_tag "Fetch", class: "btn btn-primary control-btn" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
<div class="container">
  <%= paginate @statements %>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>State</th>
        <th>Hours</th>
        <th>Subtotal</th>
        <th>Tax Amt</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @statements %>
    </tbody>
  </table>
</div>
