<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>
          Welcome to Clock Tower!
        </h2>
        <p>Incredibly simple time tracking.</p>
      </div>

      <% if !is_logged_in? %>
        <div class="col-md-4">
          <div class="container">
            <%= form_tag(session_path, class: "form", role: "form") do %>
              <%= email_field_tag :email, @email, class: "form-control first-control", placeholder: "Email address" %>
              <%= password_field_tag :password, nil, class: "form-control last-control", placeholder: "Password" %>
              <%= button_tag "Log In", class: "btn btn-primary btn-block control-btn" %>
            <% end %>
            <div class='text-center'>
              <%= link_to 'Forgot Password', new_password_reset_path %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 feature">
      <div class="text-center">
        <i class="fa fa-check fa-4x"></i>
      </div>
      <div>
        <h3 class="text-center">
          Simple to Use
        </h3>
      </div>
      <p>Intuitive UI allows any users to start using Clock Tower in just a few minutes</p>
    </div>
    <div class="col-md-4 feature">
      <div class="text-center">
        <i class="fa fa-file-o fa-4x"></i>
      </div>
      <div>
        <h3 class="text-center">
          Custom Reports
        </h3>
      </div>
      <p>Provide multiple report templates to track weekly progress and expenses</p>
    </div>
    <div class="col-md-4 feature">
      <div class="text-center">
        <i class="fa fa-share-square-o fa-4x"></i>
      </div>
      <div>
        <h3 class="text-center">
          Direct Invoicing
        </h3>
      </div>
      <p>Send invoices directly to your employers</p>
    </div>
  </div>
</div>
