<%= link_to "Back to projects", projects_path %>

<%= render 'projects/project_error' %>

<%= form_for @project do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>