<%= link_to "Back to time entries", time_entries_path %>

<%= render 'time_entry_error' %>

<%= form_for @time_entry do |f| %>
  <div>
    <%= f.label :project %>
    <%= f.collection_select :project_id, Project.all, :id, :name %>
  </div>
  <div>
    <%= f.label :task %>
    <%= f.collection_select :task_id, Task.all, :id, :name %>
  </div>
  <div>
    <%= f.label :entry_date %>
    <%= f.date_select :entry_date %>
  </div>
  <div>
    <%= f.label :duration_in_hours %>
    <%= f.text_field :duration_in_hours %>
  </div>
  <div>
    <%= f.label :comments %>
    <%= f.text_field :comments %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>