<tr>
  <td><%= time_entry.project.name %></td>
  <td><%= time_entry.task.name %></td>
  <td><%= time_entry.entry_date.to_s(:humanly) %></td>
  <td><%= time_entry.duration_in_hours %></td>
  <td><%= time_entry.comments %></td>
</tr>
