<%= render "edit_modal", entry: time_entry %>

<tr class="entry-row" id=<%= "entry-#{time_entry.id}"%> >
  <td class="user"><%= time_entry.user.fullname %></td>
  <td class="task"><%= time_entry.task.name %></td>
  <td class="project"><%= time_entry.project.name %></td>
  <td class="date"><%= time_entry.entry_date.to_s(:humanly) %></td>
  <td class="hours"><%= time_entry.duration_in_hours %></td>
  <td class="comments"><%= time_entry.comments %></td>
  <td>
    <% if time_entry.statement.present? %>
      <%= link_to "View", [:admin, time_entry.statement], target: "_blank" %>
    <% end %>
  </td>
  <td><%= link_to "Edit", "#", data: {
    toggle: "modal", target: "#entry-edit-#{time_entry.id}"} %>
    |
  <%= link_to "Delete", "/admin/api/time_entries/#{time_entry.id}", class: 'delete', method: 'delete', remote: true, data: { confirm: "This will delete the Time Entry, You sure?" } %>
  </td>
</tr>
