<div class="jumbotron" ng-controller="SummaryReportController">
  <div class="container" ng-init="presetValues('<%= @from %>','<%= @to %>',<%= @users.to_json(nil) %>, <%= @projects?@projects.to_json(nil):[] %>, <%= @tasks?@tasks.to_json(nil):[] %>)">
    <%= form_tag(reports_summary_path, method: :get, class: "form", role: "form") do %>
      <div class="row">
        <div class="col-md-2">
          <p class="input-group">
            <%= text_field_tag :from, @from, {class: "form-control", placeholder: "From", "datepicker-popup" => "{{dateFormat}}", "ng-model" => "from", "ng-required" => "true", "show-weeks" => "true", "is-open" => "isFromCalendarOpen", "datepicker-options" => "dateOptions", "close-text" => "Close", "readonly" => ""} %>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="toggleFromCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="col-md-2">
          <p class="input-group">
            <%= text_field_tag :to, @to, {class: "form-control", placeholder: "To", "datepicker-popup" => "{{dateFormat}}", "ng-model" => "to", "ng-required" => "true", "show-weeks" => "true", "is-open" => "isToCalendarOpen", "datepicker-options" => "dateOptions", "close-text" => "Close", "readonly" => ""} %>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="toggleToCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="col-md-4">
          <%= select_tag :users, @users, {class: "form-control", "data-placeholder" => "Filter by users", "chosen" => "users", multiple: true, "ng-model" => "selected_users", "ng-options" => "user.fullname for user in users track by user.id"} %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= select_tag :projects, @projects, {class: "form-control", "data-placeholder" => "Filter by projects", "chosen" => "projects", multiple: true, "ng-model" => "selected_projects", "ng-options" => "project.name for project in projects track by project.id"} %>
        </div>
        <div class="col-md-4">
          <%= select_tag :tasks, @tasks, {class: "form-control", "data-placeholder" => "Filter by tasks", "chosen" => "tasks", multiple: true, "ng-model" => "selected_tasks", "ng-options" => "task.name for task in tasks track by task.id"} %>
        </div>
        <div class="col-md-2">
          <%= button_tag "Search", class: "btn btn-primary btn-block control-btn" %>
        </div>
      </div>
    <% end %>
    <!-- <div class="row">
      <div class="col-md-2">
        <p class="input-group">
          <input type="text" class="form-control" placeholder="From" datepicker-popup="{{dateFormat}}" ng-model="from" ng-required="true" show-weeks="true" is-open="isFromCalenderOpen" datepicker-options="dateOptions" close-text="Close" readonly>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="toggleFromCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-2">
        <p class="input-group">
          <input type="text" class="form-control" placeholder="To" datepicker-popup="{{dateFormat}}" ng-model="to" ng-required="true" show-weeks="true" is-open="isToCalenderOpen" datepicker-options="dateOptions" close-text="Close" readonly>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="toggleToCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-4">
        <select name="user" class="form-control" data-placeholder="Filter by users" chosen="users" multiple ng-model="user" ng-options="user.fullname for user in users">
          <option value></option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <select name="project" class="form-control" data-placeholder="Filter by projects" chosen="projects" multiple ng-model="project" ng-options="project.name for project in projects">
          <option value></option>
        </select>
      </div>
      <div class="col-md-4">
        <select name="task" class="form-control" data-placeholder="Filter by tasks" chosen="tasks" multiple ng-model="task" ng-options="task.name for task in tasks">
          <option value></option>
        </select>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-block">Filter</button>
      </div>
    </div> -->
  </div>
</div>

<div class="container">
  <div>Total duration: <%= @total_duration %> hours</div>
  <table class="table table-striped table-hover">
    <tbody>
      <% @time_entries.each do |time_entry| %>
        <tr>
          <td><%= time_entry.user.fullname %></td>
          <td><%= time_entry.project.name %></td>
          <td><%= time_entry.task.name %></td>
          <td><%= time_entry.entry_date %></td>
          <td><%= time_entry.duration_in_hours %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>