<div class="jumbotron report-options">
  <div class="container text-center">
    <h2>
      <%= @statement.user.fullname %>
    </h2>
    <h3>
      <%= @statement.from.to_s(:humanly) %> - <%= @statement.to.to_s(:humanly) %>
    </h3>
    <% if @statement.post_date > Date.today %>
      <p>Post Date - <%= @statement.post_date.to_s(:humanly) %></p>
    <% end %>
  </div>
</div>
<div class="container">
  <%= render 'entries', entries: @entries %>  
</div>
