<!DOCTYPE html>
<html ng-app="ClockTower">
<head>
  <title>ClockTower</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body id="<%= 'admin' if on_admin? %>">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Clock Tower", root_path, { class: "navbar-brand" } %>
        </div>

        <% if is_logged_in? %>
          <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <% if current_user.is_admin? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Admin
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <%= link_to "Users", admin_users_path %>
                    </li>
                    <li>
                      <%= link_to "Projects", admin_projects_path %>
                    </li>
                    <li>
                      <%= link_to "Tasks", admin_tasks_path %>
                    </li>
                    <li>
                      <%= link_to "Locations", admin_locations_path %>
                    </li>
                    <li>
                      <%= link_to "Statements", admin_statements_path %>
                    </li>
                    <li>
                      <%= link_to "Statement Periods", admin_statement_periods_path %>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li>
                      <%= link_to "Payroll Report", admin_reports_payroll_path(from: default_report_start_date, to: default_report_end_date) %>
                    </li>
                    <li>
                      <%= link_to "Summary Report", admin_reports_summary_path(from: default_report_start_date, to: default_report_end_date) %>
                    </li>
                  </ul>
                </li>
              <% end %>
              <li>
                <%= link_to "Tracker", new_time_entry_path %>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Reports
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to "View Statements", statements_path %>
                  </li>
                  <li>
                    <%= link_to "My Entries", reports_entries_path(from: default_report_start_date, to: default_report_end_date) %>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.fullname %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to "Sign out", session_path, method: :delete %>
                  </li>
                  <li>
                    <%= link_to "Edit Account Info", edit_profile_path %>
                  </li>
                  <li>
                    <%= link_to "Update Password", edit_password_path %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="wrap">
    <div id="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="navbar-inverse">
      <div class="container">
        <p class="muted text-center" id="copyright">
          Initial version by <a href="https://ca.linkedin.com/in/andresoesilo/" target="_blank">Andre Soesilo</a>,
          Lighthouse Labs alumnus.
        </p>
      </div>
    </div>
  </div>

  <link href="/css/app.css" rel="stylesheet">
</body>
</html>
