<!DOCTYPE html>
<html ng-app="ClockTower">
<head>
  <title>ClockTower</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Clock Tower", root_path, { class: "navbar-brand" } %>
        </div>

        <% if is_logged_in? %>
          <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <% if current_user.is_admin? %>
                <li>
                  <%= link_to "Users", admin_users_path %>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Projects
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                      <li>
                        <%= link_to "View", admin_projects_path %>
                      </li>
                      <li>
                        <%= link_to "Create", new_admin_project_path %>
                      </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Tasks
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                      <li>
                        <%= link_to "View", admin_tasks_path %>
                      </li>
                      <li>
                        <%= link_to "Create", new_admin_task_path %>
                      </li>
                  </ul>
                </li>
              <% end %>
              <li>
                <%= link_to "Tracker", time_entries_path %>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Reports
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to "Summary", reports_summary_path(from: default_report_start_date, to: default_report_end_date) %>
                  </li>
                  <li>
                    <%= link_to "User Time Tracking", reports_user_path(user: current_user.id, from: default_report_start_date, to: default_report_end_date) %>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.fullname %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to "Sign out", session_path, method: :delete %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="wrap">
    <div id="container">
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="navbar-inverse">
      <div class="container">
        <p class="muted text-center" id="copyright">
          <span class="glyphicon glyphicon-copyright-mark"></span>
          2014 Andre Soesilo
        </p>
      </div>
    </div>
  </div>

  <link href="/css/app.css" rel="stylesheet">
</body>
</html>
