<!DOCTYPE html>
<html ng-app="ClockTower">
<head>
  <title>ClockTower</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Clock Tower", root_path, { class: "navbar-brand" } %>
        </div>

        <% if is_logged_in? %>
          <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to "Tracker", time_entries_path %>
              </li>
              <li>
                <a href="#">Reports</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.fullname %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to "Sign out", session_path, method: :delete %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="wrap">
    <div id="container">
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="navbar-inverse">
      <div class="container">
        <p class="muted text-center" id="copyright">
          <span class="glyphicon glyphicon-copyright-mark"></span>
          2014 Andre Soesilo
        </p>
      </div>
    </div>
  </div>

  <link href="/css/app.css" rel="stylesheet">
</body>
</html>
